.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card { 
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

/*Mobile responsiveness 1x9 cards*/
@media screen and (max-width:768px) {
    .container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}

/*Tablet responsiveness 2x8 cards, last card full width*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        flex-wrap: nowrap;
    }

    .card {
        width: calc(50% - 8px);
    }

    .card:last-child {
        width: 100%;
    }
}
  
/*Web Browser responsiveness, 3x3 cards*/
@media screen and (min-width: 1200px) {
    .container {
        flex-wrap: wrap;
    }

    .card {
        width: calc(33.33% - 20px);
    }
}